.museumroom {
    cursor: pointer;
    opacity: 0.7;

    &.selected {
        fill: #14cc95;

        /* &:hover {
            fill: #52cfaa;
            filter: none;
        } */
    }

    &.blocked {
        cursor: not-allowed;
        opacity: 0.3;
    }

    &:hover {
        filter: hue-rotate(10deg) saturate(5);
    }
}
